# MacOS
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Code editor configurations
.vscode/

# Dependency directories
node_modules/

# Logs
npm-debug.log*

# Optional npm cache directory
.npm

# NPM private repo config
.npmrc

# Compile output
dist/

# Configuration
.env*
!.env*.example
